<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
    </head>

    <body>
        <h1>Le chat</h1>

        <form action="/login/" method="post">
            <input type="text"  name="pseudo" id="f-pseudo" placeholder="Votre pseudo..."  autofocus />
            <input type="submit" value="Connexion" id="f-submit" />
        </form>
        
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    </body>
</html>